<h2 style="text-align: center;">Meet the Hosts!</h2>

<table style="table-layout:fixed; width:100%;">
    <tr style="background-color:#23252a;overflow: hidden;border-collapse: collapse; height: 20px;text-align:center;">
        <th style="width: 50%;">
            <span style="font-size: 150%;padding-left: 10px;">Co-Host: RC</span>
        </th>
        <th style="width: 50%;">

            <span style="font-size: 150%;padding-left: 10px;">Co-Host: Jeff</span>

        </th>
    </tr>
    <tr style="background-color:#1f1f22; text-align: center;">
        <td style="vertical-align:top">
            Non veniam id laborum culpa et incididunt fugiat mollit id irure. Eiusmod ipsum tempor culpa excepteur qui et id culpa dolor esse et quis. Eiusmod elit amet eiusmod magna et laboris. Aliquip fugiat fugiat eiusmod enim aliqua consectetur aliqua anim officia minim aute. Ullamco adipisicing minim occaecat magna. Et Lorem amet sint eiusmod labore elit sit ipsum amet occaecat adipisicing ex proident et. Consectetur culpa cupidatat in irure et qui laboris adipisicing aliqua nisi.
        </td>
        <td valign="top" style="vertical-align:top">
            Quis id proident exercitation mollit enim duis eu nostrud. Non dolore velit minim magna sint reprehenderit commodo occaecat cupidatat pariatur ad. Non tempor sit dolore occaecat officia ullamco adipisicing. Sunt sunt cillum qui mollit deserunt incididunt aute occaecat adipisicing.
        </td>
    </tr>
    <tr style="background-color:#1f1f22; text-align: center;">
        <td style="vertical-align:top">
            <!-- <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center d-flex flex-column align-items-end">
                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button" style="background-color: rgb(117 116 116 / 20%); color: rgba(117,117,117,0.9)"> -->
                    <a href="https://twitter.com/CatapanoRobert" class="noDecoration">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                <!--</button>
            </div> -->
        </td>
        <td valign="top" style="vertical-align:top">
            <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center d-flex flex-column align-items-end">
            <!-- <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button"> -->
                <a href="https://twitter.com/DeckdOutCards" aria-label="twitter"><i class="fab fa-twitter"></i></a>
            <!-- </button> -->
            </div>
        </td>
    </tr>
</table>