<h2 style="text-align: center;">Our Spectacular Staff!</h2>

<table style="table-layout:fixed; width:100%;" border="0">
    <tr style="text-align:center;display: table-cell; vertical-align: top;">
        <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff[0].title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff[0].name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;">
        <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.duff.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.duff.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="width: 150px;"> </div></td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;">
        <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.hex.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.hex.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'"> </div></td>
    </tr>
</table>