<h2 style="text-align: center;">Our Spectacular Staff!</h2>

<table style="table-layout:fixed; width:100%;" border="0">
    {% assign count = 1 | plus: 0%}
    <tr style="text-align:center;display: table-cell; vertical-align: top;">
    {% for staff in site.data.staff %}
        {% capture check %} {{staff.order | slice: 0}} {% endcapture %}
        {% assign check = check | plus: 0 %}
        {% if {{check}} != {{count}} %}
            </tr>
            <tr style="text-align:center;display: table-cell; vertical-align: top;">
            {% assign count = count | plus: 1 %}
        {% endif %}
            <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{staff.title}}</span></td>
            <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{staff.name | slice: 0}}</span></td>
            <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>


    {% endfor %}

</table>