<table style="table-layout:fixed; width:100%;" border="1">
    <tr style="text-align:center;display: table-cell;">
        <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.chi.name}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.chi.title}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'"> </div></td>
    </tr>
    <tr style="text-align:center;display: table-cell;">
        <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.duff.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.duff.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'"> </div></td>
    </tr>
    <tr style="text-align:center;display: table-cell;">
        <td style="vertical-align:top;display: block;background-color:#23252a;"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.hex.name}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.hex.title}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'"> </div></td>
    </tr>

</table>



<!-- 
<button
class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
type="button"
>
<i class="fab fa-twitter"></i></button
> -->