<h2 style="text-align: center;">Our Spectacular Staff!</h2>

<table style="table-layout:fixed; width:100%;" border="0">
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.chi.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.chi.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;">{{site.data.staff.chi.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.chi.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.chi.social[4].discord}}-copy"></div>
        </td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.duff.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.duff.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;" >{{site.data.staff.duff.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.duff.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.duff.social[4].discord}}-copy"></div>
        </td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.hex.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.hex.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;">{{site.data.staff.hex.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.hex.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.hex.social[4].discord}}-copy"></div>
        </td>
    </tr>
</table>
<!-- Row 2 of Staff-->
<table style="table-layout:fixed; width:100%;" border="0">
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.zeus.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.zeus.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;">{{site.data.staff.zeus.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.zeus.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.zeus.social[4].discord}}-copy"></div>
        </td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.kenzi.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.kenzi.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;" >{{site.data.staff.kenzi.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.kenzi.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.kenzi.social[4].discord}}-copy"></div>
        </td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.kayla.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.kayla.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;">{{site.data.staff.kayla.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.kayla.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.kayla.social[4].discord}}-copy"></div>
        </td>
    </tr>
</table>
<!--Row 3 of Staff-->
<table style="table-layout:fixed; width:100%;" border="0">
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="hidden">
        <!--<td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;"> {{site.data.staff.zeus.title}}< /span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.zeus.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;">{{site.data.staff.zeus.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.zeus.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.zeus.social[4].discord}}-copy"></div>
        </td> -->
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="staffBody">
        <td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;">{{site.data.staff.je.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.je.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.data.staff.je.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;" >{{site.data.staff.je.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.je.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;">
            <div id="{{site.data.staff.je.social[4].discord}}-copy"></div>
        </td>
    </tr>
    <tr style="text-align:center;display: table-cell; vertical-align: top;" id="hidden">
        <!--<td id="staffHeader"><span style="font-size: 150%;padding-left: 10px;"> {{site.data.staff.kayla.title}}</span></td>
        <td style="display: block;"><span style="font-size: 125%;padding-left: 10px;">{{site.data.staff.kayla.name}}</span></td>
        <td style="display: block;"> <div id="avatar"><img src="{{ site.avatar }}" alt="avatar" onerror="this.style.display='none'" style="border-radius: 50%; width: 150px;"> </div></td>
        <td style="display: block; min-height: 7em;">{{site.data.staff.kayla.tagline}}</td>
        <td style="display: block;">
            {% for social in site.data.staff.kayla.social %}
                {% if social.link %}
                    <a href="{{social.link}}" style="border: none;" target="_blank">
                        <span class="fa-stack fa-lg" style="font-size: 1em;">
                            <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                            <i class="{{social.icon}} fa-stack-1x fa-inverse"
                                style="color: rgb(110,110,111);vertical-align: middle;"></i>
                        </span>
                    </a>
                {% elsif social.discord %}
                <button onclick="copyText('{{social.discord}}', '{{social.discord}}-copy')" style="border: none; border-radius: 50%;" class="button">
                    <span class="fa-stack fa-lg" style="font-size: 1em;">
                        <i class="fas fa-circle fa-stack-2x" style="color: rgb(47, 49, 54); vertical-align: middle;"></i>
                        <i class="fab fa-discord fa-stack-1x fa-inverse"
                            style="color: rgb(110,110,111);vertical-align: middle;"></i>
                    </span>
                </button>
                {% endif %}
            {% endfor %}
        </td>
        <td style="height: 35px; vertical-align:top; text-align: center; display: block; background-color: #1B1B1E;" >
            <div id="{{site.data.staff.kayla.social[4].discord}}-copy"></div>
        </td> -->
    </tr>
</table>